.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1220px;
    margin: 2% auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation .content, .navigation .name {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navigation .content p, .navigation .name p  {
    color: var(--primaty-grey-dark, #757575);
    font: 600 14px Montserrat;     
}

.line {
    height: 1.2px;
    background: var(--primaty-grey-medium, #E0E0E0);
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigLink {
    display: flex;
    justify-content: space-between;
}

.navigLink .linkImg {
    display: flex;
    flex-direction: row;
}

.linkImg .imgGit {
    background-image: url(./assets/Frame\ 1\ foot.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 24px;
    margin-right: 30px;
}

.linkImg .imgGT {
    background-image: url(./assets/Frame\ 2\ foot.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 24px;
    margin-right: 30px;
}

.linkImg .imgYouTube {
    background-image: url(./assets/Frame\ 3\ foot.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 24px;
    margin-right: 30px;
}

.navigLink p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 12px Montserrat;
}