.bcg {
    background: #FFF;
}

.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6% auto;
    width: 1220px;
}

.preview .previewInfo .previewAbout {
    color: var(--primaty-cyan-dark, #2B788B);
    font: 700 16px Montserrat;
}

.preview .previewInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preview .previewInfo h1 {
    color: var(--primaty-black, #000);
    font: 400 56px Dela Gothic One;
    width: 600px;  
}

.preview .previewInfo .textInfo {
    color: var(--primaty-grey-dark, #757575);
    font: 600 18px Montserrat;
    width: 450px;   
}

.previewBtn {
    border-radius: 100px;
    background: var(--primaty-cyan-light, #C3DCE3);
    color: #2B788B;
    font: 700 16px Montserrat;
    width: 200px;
    text-align: center;
    padding: 14px 22px;   
}

.previewStudentsNumber {
    display: flex;
    justify-content: space-between;
    width: 163px;
    height: 40px;
}

.logImg {
    background-image: url(./assets/Frame\ 2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 30px;
}

.numberPlus {
    background-image: url(./assets/600+.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 40px;
}

.previewStudents {
    color: #585858;
    font: 600 16px Montserrat;
    margin-left: 50px;
}

.previewImg {
    background-image: url(./assets/Frame\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 550px;
    height: 400px;
    margin-top: 110px;
}

.learn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1220px;
    padding: 6% 0;
}

.learn .img {
    background-image: url(./assets/image\ 8.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 580px;
    height: 445px;
}

.learn .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.learn .info h1 {
    color: var(--primaty-black, #000);
    font: 400 48px Dela Gothic One;
    width: 480px;   
}

.learn .info p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 18px Montserrat;
    width: 480px;  
}

.learn .icons {
    display: flex;
    gap: 15px;
}

.learn .icons1 {
    background-image: url(./assets/Group\ 11.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 129px;
    height: 112px;
}

.learn .icons2 {
    background-image: url(./assets/Group\ 10.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 172px;
    height: 112px;
}

.knowledge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6% auto;
    width: 1220px;
}

.knowledge .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.knowledge .info h1 {
    color: var(--primaty-black, #000);
    font: 400 48px Dela Gothic One;  
}

.knowledge .info p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 18px Montserrat;
    width: 400px;   
}

.knowledge .info .btnKnow {
    border-radius: 100px;
    background: var(--primaty-cyan-light, #C3DCE3);
    color: #2B788B;
    font: 700 16px Montserrat;
    width: 150px;
    height: 45px;
    padding: 14px 22px;
    text-align: center;
}

.knowledge .img {
    background-image: url(./assets/image\ 2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 580px;
    height: 485px;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 6% 0;
    width: 1220px;
}

.progress .img {
    background-image: url(./assets/image\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 680px;
    height: 410px;
}

.progress .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress .info h1 {
    color: var(--primaty-black, #000);
    font: 400 48px Dela Gothic One;   
    width: 474px;
}

.progress .info p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 18px Montserrat;   
    width: 396px;
}

.progress .info .btnProg {
    border-radius: 100px;
    background: var(--primaty-cyan-light, #C3DCE3);
    color: var(--primaty-cyan-dark, #2B788B);
    font: 700 16px Montserrat;
    width: 150px;
    height: 45px;
    padding: 14px 0;
    text-align: center;
}